<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{{ include('admin/base_name.twig') }}{% endblock %}</title>
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a href="{{ path('index_page') }}">
                <div class="navbar-brand">
                    <img src="/res/img/ms-logo.png" width="30" height="30">
                    {% block navbar_title %}{{ include('admin/base_name.twig') }}{% endblock %}
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        {% if app.user %}
                            <a class="nav-link" href="/admin">Admin panelė</a>
                        {% elseif not app.user %}
                            <a class="nav-link" href="/admin/login">Prisijungti</a>
                        {% endif %}
                    </li>
                    {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/logout">Atsijungti</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-3">

                <!-- Paieška -->
                <div class="card my-4">
                    <h5 class="card-header">Paieška</h5>
                    <div class="card-body">
                        <form method="post" action="{{ path('search_tools') }}">
                            <div class="input-group">
                                <input type="text" name="search_str" class="form-control" placeholder="Ieškoti ko..." value="{{ search_str | default('') }}" autofocus>
                                <div class="input-group-append">
                                    <input type="submit" value="Ieškoti" class="btn btn-secondary" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                {% block tags %}
                <div class="card my-4">
                    <h5 class="card-header">Etiketės</h5>
                    <div class="my-2 mx-3">
                        {% if tags is defined and tags is not empty %}
                            <form method="post" action="{{ path('filter_by_tags') }}">
                                <div class="container tag-section">
                                    {% for tag in tags %}
                                        <div class="custom-control custom-checkbox pl-3">
                                            <input type="checkbox" class="custom-control-input" name="tags[]" id="{{ tag.getId() }}" value="{{ tag.getTag() }}" />
                                            <label class="custom-control-label" for="{{ tag.getId() }}">
                                                <a href="{{ path('filter_by_single_tag', {'tag': tag.getTag()}) }}"><nobr>#{{ tag.getTag() }}</nobr></a>
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                                <br/>
                                <input type="submit" value="Filtruoti" class="btn btn-sm btn-block btn-secondary"/>
                            </form>
                        {% else %}
                            Etikečių kol kas nėra
                        {% endif %}
                    </div>
                </div>
                {% endblock %}
            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9 my-4">
                {% block main_block %}{% endblock %}
                <!-- /.row -->
            </div>
            <!-- /.col-lg-9 -->
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>