{% extends 'base.html.twig' %}

{% block main_block %}
    <div class="card">
        <img class="card-img-top img-fluid" src="/res/default-tool-pic.png">
        <div class="card-body">
            <h3 class="card-title">{{ tool.getName() }} {{ tool.getModel() }}</h3>
            <h5 class="card-subtitle mb-3 text-muted">{{ tool.getCode() }}</h5>
            <p class="card-text">{{ tool.getDescription() }}</p>

            {% if tool.getShopLinks() is not empty %}
                <div class="card-text">
                    <b>Kur galima įsigyti?</b><br/>
                    <p class="tool-links">
                        {{ tool.getShopLinks(true) | raw | nl2br }}
                    </p>
                </div>
            {% endif %}

            <p class="card-text">
                {% if tool.getOriginalPrice() is not empty %}
                    Originali kaina: {{ tool.getOriginalPrice() }} &euro;<br/>
                {% endif %}
                {% if tool.getAcquisitionDate() is not empty %}
                    Įsigyta: {{ tool.getAcquisitionDate() }}
                {% endif %}
            </p>
        </div>
        <div class="card-footer">
            {% for tag in tool.getTags() %}
                <a href="{{ path('filter_by_single_tag', {'tag': tag.getTag()}) }}"><small class="text-muted"><nobr>#{{ tag.getTag() }}</nobr></small></a>
            {% endfor %}
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">Lipdukas</div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-fluid" src="http://placehold.it/416x320">
                    </div>
                    <div class="col-md-6 mt-3">
                        <button class="btn btn-info">Peržiūrėti</button>
                        <button class="btn btn-danger">Spausdinti</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">Parametrai</div>
        <div class="card-body">
            {% if tool.getParams() is not empty %}
                <table class="table" style="margin-bottom: 0;">
                    <thead>
                    <tr>
                        <th>Parametras</th>
                        <th>Reikšmė</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for param in tool.getParams() %}
                        <tr>
                            <td>{{ param.getName() }}</td>
                            <td>{{ param.getValue() }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                Parametrų nėra
            {% endif %}
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">Atlikti priežiūros darbai</div>
        <div class="card-body">
            {% if tool.getLogs() is not empty  %}
                {% for log in tool.getLogs() %}
                    <p class="pl-3 pr-3">{{ log.getLog() }}</p>
                    {% if not loop.last %}<hr>{% endif %}
                {% endfor %}
            {% else %}
                Įrašų nėra
            {% endif %}
        </div>
    </div>
{% endblock %}