{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ tool.getName() }} {{ tool.getModel() }}{% endblock %}

{% block main_block %}
    <div class="card" id="content">
        <img class="card-img-top img-fluid" src="/res/img/default-tool-pic.png">
        <div class="card-body">
            <h3 class="card-title">{{ tool.getName() }} {{ tool.getModel() }}</h3>
            <h5 class="card-subtitle mb-3 text-muted">{{ tool.getCode() }}</h5>
            <p class="card-text">{{ tool.getDescription() }}</p>

            {% if tool.getShopLinks() is not empty %}
                <div class="card-text">
                    <b>Kur galima įsigyti?</b><br/>
                    <p class="tool-links">
                        {{ tool.getShopLinks(true) | raw | nl2br }}
                    </p>
                </div>
            {% endif %}

            <p class="card-text">
                {% if tool.getOriginalPrice() is not empty %}
                    Originali kaina: {{ tool.getOriginalPrice() }} &euro;<br/>
                {% endif %}
                {% if tool.getAcquisitionDate() is not empty %}
                    Įsigyta: {{ tool.getAcquisitionDate() }}
                {% endif %}
            </p>
        </div>
        <div class="card-footer">
            {% for tag in tool.getTags() %}
                <a href="{{ path('filter_by_single_tag', {'tag': tag.getTag()}) }}"><small class="text-muted"><nobr>#{{ tag.getTag() }}</nobr></small></a>
            {% endfor %}
        </div>
    </div>

    {% if app.user %}
    <div class="card mt-4">
        <div class="card-header">Lipdukas</div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-fluid" src="{{ path('tool_label_generator', {'code': tool.getCode()}) }}" alt="label-preview">
                    </div>
                    <div class="col-md-6 mt-3">
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#label-preview-modal">Peržiūrėti</button>
                        <button class="btn btn-danger" id="print-btn">Spausdinti</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- modal langas lipduko peržūrai -->
    <div class="modal fade" id="label-preview-modal" tabindex="-1" role="dialog" aria-labelledby="label-preview-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="label-preview-modal-label">Lipduko peržiūra</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="display: block; margin: auto">
                    <img class="img-fluid" src="{{ path('tool_label_generator', {'code': tool.getCode()}) }}" alt="label-preview">
                </div>
            </div>
        </div>
    </div>
    <!-- /modal langas lipduko peržūrai -->
    {% endif %}

    <div class="card mt-4">
        <div class="card-header">Parametrai</div>
        <div class="card-body">
            {% if tool.getParams() is not empty %}
                <table class="table" style="margin-bottom: 0;">
                    <thead>
                    <tr>
                        <th>Parametras</th>
                        <th>Reikšmė</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for param in tool.getParams() %}
                        <tr>
                            <td>{{ param.getName() }}</td>
                            <td>{{ param.getValue() }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                Parametrų nėra
            {% endif %}
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">Atlikti priežiūros darbai</div>
        <div class="card-body">
            {% if tool.getLogs() is not empty  %}
                {% for log in tool.getLogs() %}
                    <p class="pl-3 pr-3">{{ log.getLog() }}</p>
                    {% if not loop.last %}<hr>{% endif %}
                {% endfor %}
            {% else %}
                Įrašų nėra
            {% endif %}
        </div>
    </div>
{% endblock %}