{% extends 'admin/base_panel.html.twig' %}

{% block title %}{{ parent() }} - Add user{% endblock %}

{% block page_content %}
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas {% block icon %}fa-user-plus{% endblock %}"></i>
            {% block card_title %}Add new user{% endblock %}
        </div>
        <div class="card-body">
            <div class="col-md-5">
                {% for msg in app.session.flashBag.get('error') %}
                    <div class="alert alert-danger py-2" role="alert">
                        {{ msg }}
                    </div>
                {% endfor %}
                <form action="{% block form_action %}{{ path('admin_add_user') }}{% endblock %}" method="post">
                    <input type="text" class="form-control" placeholder="Full name" name="fullname" value="{{ fullname | default('') }}" required>
                    <input type="text" class="form-control mt-3" placeholder="Username" name="username" value="{{ username | default('') }}" {% block username_attrib %}required{% endblock %}>
                    <input type="password" class="form-control mt-3" placeholder="Password" name="password" value="{{ password | default('') }}" {% block passwd_attrib %}required{% endblock %}>
                    <input type="email" class="form-control mt-3" placeholder="Email" name="email" value="{{ email | default('') }}" required>
                    <select class="custom-select mr-sm-2 mt-3" title="role" name="role">
                        <option selected value="ROLE_SUPERADMIN">ROLE_SUPERADMIN</option>
                    </select>
                    <div class="row">
                        <div class="col mt-2">
                            <a href="{{ path('admin_users') }}" class="btn btn-secondary">Back</a>
                            <input type="submit" class="btn btn-primary" value="{% block submit_btn_name %}Create{% endblock %}">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}