{% extends 'admin/base_panel.html.twig' %}

{% block title %}{{ parent() }} - Users{% endblock %}

{% block page_content %}
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-users-cog"></i>
            Users
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-1">
                    <a href="{{ path('admin_add_user') }}" class="btn btn-primary mb-2">Add user</a>
                </div>
                {% for msg in app.session.flashBag.get('success') %}
                    <div class="col-3">
                        <div class="alert alert-success py-2" role="alert">
                            {{ msg }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th class="col-2">Role</th>
                        <th class="col-1">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ user.fullname }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.roles | join(', ') }}</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <form action="{{ path('admin_del_user') }}" method="post">
                                        <input type="hidden" name="userid" value="{{ user.id }}">
                                        <input type="submit" class="btn btn-danger btn-sm" value="Delete" onclick="return confirm('Are you sure to delete \'{{ user.username }}\'?')" {% if user.username == app.user.username %}disabled{% endif %}>
                                    </form>
                                    <form action="{{ path('admin_edit_user') }}" method="post">
                                        <input type="hidden" name="fullname" value="{{ user.fullname }}">
                                        <input type="hidden" name="username" value="{{ user.username }}">
                                        <input type="hidden" name="email" value="{{ user.email }}">
                                        <input type="hidden" name="roles" value="{{ user.roles | join(', ') }}">
                                        <input type="submit" class="btn btn-warning btn-sm ml-2" value="Edit" {% if user.username == app.user.username %}disabled{% endif %}>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}