{% extends 'admin/base_panel.html.twig' %}

{% block title %}{{ parent() }} - Edit tag{% endblock %}

{% block page_content %}
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-tag"></i>
        <i class="far fa-edit"></i>
        {% block card_title %}Edit tag{% endblock %}
    </div>
    <div class="card-body">
        <div class="col-md-5">
            {{ form_start(form) }}
                {{ form_errors(form.tag) }}
                {{ form_widget(form.tag) }}
                <div class="row">
                    <div class="col mt-2">
                        <a href="{{ path('admin_tags') }}" class="btn btn-secondary">Back</a>
                        {{ form_widget(form.save) }}
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}