{% extends 'admin/base_panel.html.twig' %}

{% block title %}{{ parent() }} - {% block section_title %}Add tool{% endblock %}{% endblock %}

{% block style_links %}
    {{ parent() }}
    <link href="{{ asset('vendor/tagsinput-revisited/jquery.tagsinput-revisited.css') }}" rel="stylesheet">
{% endblock %}

{% block script_links %}
    <script src="{{ asset('vendor/tagsinput-revisited/jquery.tagsinput-revisited.js') }}"></script>
    <script src="{{ asset('vendor/bs-custom-file-input/bs-custom-file-input.min.js') }}"></script>
    {{ parent() }}
{% endblock %}

{% block page_content %}
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-toolbox"></i>
            <i class="far {% block icon %}fa-plus-square{% endblock %}"></i>
            {% block card_title %}Add new tool{% endblock %}
        </div>
        <div class="card-body">
            {{ form_start(form) }}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Main information
                        </h5>
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col">
                                    {{ form_label(form.name) }}
                                    {{ form_widget(form.name) }}
                                </div>
                                <div class="col">
                                    {{ form_label(form.model) }}
                                    {{ form_widget(form.model) }}
                                </div>
                            </div>
                            {{ form_label(form.code) }}
                            {{ form_widget(form.code) }}

                            {{ form_label(form.description) }}
                            {{ form_widget(form.description) }}

                            {{ form_widget(form.tags) }}
                        </div>
                    </div>
                </div>

                <div class="card mt-4">
                    <div class="card-body">
                        <h5 class="card-title">
                            Tool photos
                        </h5>
                        <div class="col-md-7">
                            {% block photos %}
                                {{ form_label(form.new_photos) }}
                                {{ form_widget(form.new_photos) }}
                            {% endblock %}
                        </div>
                    </div>
                </div>

                <div class="card mt-4">
                    <div class="card-body">
                        <h5 class="card-title">
                            Additional information
                        </h5>
                        <div class="col-md-7">
                            {{ form_label(form.shoplinks) }}
                            {{ form_widget(form.shoplinks) }}
                            <div class="row mt-3">
                                <div class="col">
                                    {{ form_label(form.originalprice) }}
                                    <div class="input-group">
                                        {{ form_widget(form.originalprice) }}
                                        <div class="input-group-append">
                                            <div class="input-group-text">&euro;</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    {{ form_label(form.acquisitiondate) }}
                                    {{ form_widget(form.acquisitiondate) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mt-4">
                    <div class="card-body">
                        <h5 class="card-title">
                            Tool parameters
                        </h5>
                        <div class="col-md-7">
                            {% set n = 0 %}
                            {% for param in form.params %}
                                <div class="input-group form-group tool_param_group">
                                    {% block text_widget %}
                                        <input type="text" class="form-control" id="{{ param.vars.id }}" name="{{ param.vars.full_name }}[name]" value="{{ param.vars.value.getName() }}" placeholder="Parameter">
                                        <input type="text" class="form-control" id="{{ param.vars.id }}" name="{{ param.vars.full_name }}[value]" value="{{ param.vars.value.getValue() }}" placeholder="Value">
                                        {% do param.setRendered() %}
                                    {% endblock %}
                                    <div class="input-group-append">
                                        <button class="btn btn-danger btn-remove-param" type="button"><i class="fas fa-minus"></i></button>
                                    </div>
                                </div>
                                {% set n = n + 1 %}
                            {% endfor %}

                            <div class="input-group form-group tool_param_group">
                                <input type="text" class="form-control" id="param_name" name="tool[params][{{ n }}][name]" placeholder="Parameter">
                                <input type="text" class="form-control" id="param_value" name="tool[params][{{ n }}][value]" placeholder="Value">
                                <div class="input-group-append">
                                    <button class="btn btn-success btn-add-param" type="button"><i class="fas fa-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mt-4">
                    <div class="card-body">
                        <h5 class="card-title">
                            Repair log
                        </h5>
                        <div class="col-md-7">
                            {% for log in form.logs %}
                                <div class="input-group form-group tool_log">
                                    {% block textarea_widget %}
                                        <textarea id="{{ log.vars.id }}" name="{{ log.vars.full_name }}[log]" class="form-control" placeholder="Tool repair log">{{ log.vars.value.getLog() }}</textarea>
                                        {% do log.setRendered() %}
                                    {% endblock %}

                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-danger btn-remove-log"><i class="fas fa-minus"></i></button>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="input-group form-group tool_log">
                                <textarea name="tool[logs][][log]" class="form-control" placeholder="Tool repair log"></textarea>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-success btn-add-log"><i class="fas fa-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col mt-2">
                        <a href="{{ path('admin_tools') }}" class="btn btn-secondary">Back</a>
                        {{ form_widget(form.save) }}
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            bsCustomFileInput.init()
        })
    </script>
{% endblock %}
