{% extends 'admin/base_panel.html.twig' %}

{% block title %}{{ include('admin/base_name.twig') }} - Add tool{% endblock %}

{% block style_links %}
    {{ parent() }}
    <link href="/vendor/tagsinput-revisited/jquery.tagsinput-revisited.css" rel="stylesheet">
    <link href="/vendor/dropzone/dropzone.min.css" rel="stylesheet">
{% endblock %}

{% block script_links %}
    <script src="/vendor/tagsinput-revisited/jquery.tagsinput-revisited.js"></script>
    <script src="/vendor/dropzone/dropzone.min.js"></script>
    {{ parent() }}
{% endblock %}

{% block page_content %}
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-toolbox"></i>
            <i class="far {% block icon %}fa-plus-square{% endblock %}"></i>
            {% block card_title %}Add new tool{% endblock %}
        </div>
        <div class="card-body">
            {{ form_start(form) }}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Main information
                        </h5>
                        <div class="col-md-7">
                            {% if not is_mobile() %}
                            <div class="row">
                                <div class="col">
                            {% endif %}
                                    {{ form_label(form.name) }}
                                    {{ form_widget(form.name) }}
                                {% if not is_mobile() %}
                                </div>
                                <div class="col">
                                {% endif %}
                                    {{ form_label(form.model) }}
                                    {{ form_widget(form.model) }}
                            {% if not is_mobile() %}
                                </div>
                            </div>
                            {% endif %}
                            {{ form_label(form.code) }}
                            {{ form_widget(form.code) }}

                            {{ form_label(form.description) }}
                            {{ form_widget(form.description) }}

                            {{ form_widget(form.tags) }}
                        </div>
                    </div>
                </div>

                <div class="card mt-4">
                    <div class="card-body">
                        <h5 class="card-title">
                            Tool photos
                        </h5>
                        <div class="col-md-7">
                            <div id="drop-id" class="dropzone"></div>
                        </div>
                    </div>
                    <div id="photos"></div>
                </div>

                <div class="card mt-4">
                    <div class="card-body">
                        <h5 class="card-title">
                            Additional information
                        </h5>
                        <div class="col-md-7">
                            {{ form_label(form.shoplinks) }}
                            {{ form_widget(form.shoplinks) }}
                            <div class="row mt-3">
                                <div class="col">
                                    {{ form_label(form.originalprice) }}
                                    <div class="input-group">
                                        {{ form_widget(form.originalprice) }}
                                        <div class="input-group-append">
                                            <div class="input-group-text">&euro;</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    {{ form_label(form.acquisitiondate) }}
                                    {{ form_widget(form.acquisitiondate) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mt-4">
                    <div class="card-body">
                        <h5 class="card-title">
                            Tool parameters
                        </h5>
                        <div class="col-md-7">
                            {% set n = 0 %}
                            {% for param in form.params %}
                                <div class="{% if not is_mobile() %}input-group{% endif %} form-group tool_param_group">
                                    {% block text_widget %}
                                        <input type="text" class="form-control" id="{{ param.vars.id }}" name="{{ param.vars.full_name }}[name]" value="{{ param.vars.value.getName() }}" placeholder="Parameter">
                                        <input type="text" class="form-control" id="{{ param.vars.id }}" name="{{ param.vars.full_name }}[value]" value="{{ param.vars.value.getValue() }}" placeholder="Value">
                                        {% do param.setRendered() %}
                                    {% endblock %}
                                    {% if not is_mobile() %}<div class="input-group-append">{% endif %}
                                        <button class="btn {% if is_mobile() %}btn-block{% endif %} btn-danger btn-remove-param" type="button"><i class="fas fa-minus"></i></button>
                                    {% if not is_mobile() %}</div>{% endif %}
                                </div>
                                {% set n = n + 1 %}
                            {% endfor %}

                            <div class="{% if not is_mobile() %}input-group{% endif %} form-group tool_param_group">
                                <input type="text" class="form-control" id="param_name" name="form[params][{{ n }}][name]" placeholder="Parameter">
                                <input type="text" class="form-control" id="param_value" name="form[params][{{ n }}][value]" placeholder="Value">
                                {% if not is_mobile() %}<div class="input-group-append">{% endif %}
                                    <button class="btn {% if is_mobile() %}btn-block{% endif %} btn-success btn-add-param" type="button"><i class="fas fa-plus"></i></button>
                                {% if not is_mobile() %}</div>{% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mt-4">
                    <div class="card-body">
                        <h5 class="card-title">
                            Repair log
                        </h5>
                        <div class="col-md-7">
                            {% for log in form.logs %}
                                <div class="{% if not is_mobile() %}input-group{% endif %} form-group tool_log">
                                    {% block textarea_widget %}
                                        <textarea id="{{ log.vars.id }}" name="{{ log.vars.full_name }}[log]" class="form-control" placeholder="Tool repair log">{{ log.vars.value.getLog() }}</textarea>
                                        {% do log.setRendered() %}
                                    {% endblock %}

                                    {% if not is_mobile() %}<div class="input-group-append">{% endif %}
                                        <button type="button" class="btn {% if is_mobile() %}btn-block{% endif %} btn-danger btn-remove-log"><i class="fas fa-minus"></i></button>
                                    {% if not is_mobile() %}</div>{% endif %}
                                </div>
                            {% endfor %}
                            <div class="{% if not is_mobile() %}input-group{% endif %} form-group tool_log">
                                <textarea name="form[logs][][log]" class="form-control" placeholder="Tool repair log"></textarea>
                                {% if not is_mobile() %}<div class="input-group-append">{% endif %}
                                    <button type="button" class="btn {% if is_mobile() %}btn-block{% endif %} btn-success btn-add-log"><i class="fas fa-plus"></i></button>
                                {% if not is_mobile() %}</div>{% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col mt-2">
                        <a href="{{ path('admin_tools') }}" class="btn btn-secondary">Back</a>
                        {{ form_widget(form.save) }}
{#                        <input type="submit" class="btn btn-primary" value="{% block submit_btn_name %}Create{% endblock %}">#}
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}