{% extends 'base.html.twig' %}

{% block main_block %}
    {% if tools is not empty %}
        <div class="row" id="content">
            {% for tool in tools %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top tool-def-img" src="/res/img/default-tool-pic-listing.png" alt="tool_pic">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="{{ path('tool_page', {'code': tool.getCode()}) }}{% if is_mobile() %}#content{% endif %}">{{ tool.getName() }} {{ tool.getModel() }}</a>
                            </h4>
                            <h5 class="text-muted">{{ tool.getCode() }}</h5>
                            <p class="card-text">{{ tool.getDescription() }}</p>
                        </div>
                        <div class="card-footer">
                            {% set toolTags = tool.getTags() %}
                            {% if toolTags is not empty %}
                                {% for tag in toolTags %}
                                    <a href="{{ path('filter_by_single_tag', {'tag': tag.getTag()}) }}"><small class="text-muted">#{{ tag.getTag() }}</small></a>
                                {% endfor %}
                            {% else %}
                                <small class="text-muted">Etiketės nepriskirtos</small>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h2><b>Jokių įrankių nerasta :(</b></h2>
    {% endif %}

{% endblock %}
