{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ tool.name }} {{ tool.model }}{% endblock %}


{% block functions %}
    <div class="card mt-4">
        <div class="card-header">{% trans %} Functions {% endtrans %}</div>
        <div class="card-body">
            <button class="btn btn-info" type="button" data-toggle="modal" data-target="#status-change-modal">{% trans %} Add status change{% endtrans %}</button>
        </div>
    </div>
{% endblock %}

{% block admin_panel %}
    <a href="{{ path('admin_edit_tool', {id: tool.id}) }}" class="btn btn-warning">{% trans %} Edit {% endtrans %}</a>
    <a href="{{ path('admin_del_tool', {id: tool.id, returnTo: 'index_page'}) }}" class="btn btn-danger ml-2" onclick="return confirm('{% trans with { '%toolname%': tool.name, '%toolmodel%': tool.model } %} Are you sure to delete %toolname% %toolmodel% ? {% endtrans %}')">{% trans %} Delete {% endtrans %}</a>
{% endblock %}

{% block main_block %}
    <div class="card" id="content">
        {% if tool.photos is empty %}
            <img class="card-img-top img-fluid" src="{{ asset('img/default-tool-pic.png') }}" alt="tool_pic">
        {% else %}
            <div id="photosCarousel" class="carousel slide bg-dark" data-ride="carousel" data-interval="false">
                <div class="carousel-inner">
                    {% set i = 0 %}
                    {% for photo in tool.photos %}
                        <div class="carousel-item {% if i == 0 %}active{% endif %}">
                            <a href="{{ asset('upload/photos/' ~ photo.fileName) }}" target="_blank">
                                <img class="d-block carousel-fixed-height-image" src="{{ asset('upload/photos/' ~ photo.fileName) }}" alt="{{ photo.fileName }}">
                            </a>
                        </div>
                        {% set i=i+1 %}
                    {% endfor %}
                </div>
                <ol class="carousel-indicators">
                    {% set i = 0 %}
                    {% for photo in tool.photos %}
                        <li data-target="#photosCarousel" data-slide-to="{{ i }}" {% if i == 0 %}class="active"{% endif %}></li>
                        {% set i=i+1 %}
                    {% endfor %}
                </ol>
                <a class="carousel-control-prev" href="#photosCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">{% trans %} Previous {% endtrans %}</span>
                </a>
                <a class="carousel-control-next" href="#photosCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">{% trans %} Next {% endtrans %}</span>
                </a>
            </div>
        {% endif %}
        <div class="card-body">
            <h3 class="card-title">{{ tool.name }} {{ tool.model }}</h3>
            <h5 class="card-subtitle mb-3 text-muted" id="tool-code">{{ tool.code }} <i class="{{ tool.getStatusIcon() }}"></i></h5>
            <p class="card-text">{{ tool.description }}</p>

            {% if tool.shopLinks is not empty %}
                <div class="card-text">
                    <b>{% trans %}  Where to buy? {% endtrans %}</b><br/>
                    <p class="tool-links">
                        {{ tool.getShopLinks(true) | raw | nl2br }}
                    </p>
                </div>
            {% endif %}

            <p class="card-text">
                {% if tool.originalPrice is not empty %}
                    {% trans %} Original price {% endtrans %}: {{ tool.originalPrice }} &euro;<br/>
                {% endif %}
                {% if tool.acquisitionDate is not empty %}
                    {% trans %} Bought at {% endtrans %}: {{ tool.acquisitionDateString }}
                {% endif %}
                {% if tool.instructionsPdf is not empty %}
                    <a href="{{ asset('upload/instructions/' ~ tool.instructionsPdf) }}" target="_blank">{% trans %} User guide {% endtrans %}</a>
                {% endif %}
            </p>
        </div>
        <div class="card-footer">
            {% for tag in tool.tags %}
                <a href="{{ path('filter_by_single_tag', {'tag': tag.tag}) }}"><small class="text-muted">#{{ tag.tag }}</small></a>
            {% endfor %}
        </div>
    </div>

    {% if app.user %}
    <div class="card mt-4">
        <div class="card-header">{% trans %} Sticker {% endtrans %}</div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-fluid" src="{{ path('tool_label_generator', {'code': tool.code}) }}" alt="label-preview">
                    </div>
                    <div class="col-md-6 mt-3">
                        <button class="btn btn-info" type="button" data-toggle="modal" data-target="#label-preview-modal">{% trans %} View {% endtrans %}</button>
                        <a href="{{ path('tool_label_printer', { 'code': tool.code }) }}" class="btn btn-danger" id="print-btn">{% trans %} Print {% endtrans %}</a>
                        {# TODO: kažkodėl atsirandant spinner'iui paslenkama yra mygtukai žemyn, jam išnykus jie vėl pakyla #}
                        <div class="lds-dual-ring" id="print-spinner"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- modal langas statuso pakeitimui -->
    <div class="modal fade" id="status-change-modal" tabindex="-1" role="dialog" aria-labelledby="status-change-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="status-change-modal-label">{% trans %} Change status {% endtrans %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="display: block; margin: auto">
                    {{ form(logform) }}
                </div>
            </div>
        </div>
    </div>
    <!-- /modal langas lipduko peržūrai -->
    
    <!-- modal langas lipduko peržiūrai -->
    <div class="modal fade" id="label-preview-modal" tabindex="-1" role="dialog" aria-labelledby="label-preview-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="label-preview-modal-label">{% trans %} Sticker preview {% endtrans %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="display: block; margin: auto">
                    <img class="img-fluid" src="{{ path('tool_label_generator', {'code': tool.code}) }}" alt="label-preview">
                </div>
            </div>
        </div>
    </div>
    <!-- /modal langas lipduko peržūrai -->

    <!-- modal langas klaidos pranešimui -->
        <div class="modal fade" id="error-modal" tabindex="-1" role="dialog" aria-labelledby="error-modal-label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="error-modal-label"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="display: block; margin: auto">
                        <p id="error-msg"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans %} Close {% endtrans %}</button>
                    </div>
                </div>
            </div>
        </div>
    <!-- /modal langas klaidos pranešimui -->
    {% endif %}

    <div class="card mt-4">
        <div class="card-header">{% trans %} Parameters {% endtrans %}</div>
        <div class="card-body">
            {% if tool.params is not empty %}
                <table class="table" style="margin-bottom: 0;">
                    <thead>
                    <tr>
                        <th>{% trans %} Parameter {% endtrans %}</th>
                        <th>{% trans %} Value {% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for param in tool.params %}
                        <tr>
                            <td>{{ param.name }}</td>
                            <td>{{ param.value }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                {% trans %} No parameters set {% endtrans %}
            {% endif %}
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">{% trans %} Repair log {% endtrans %}</div>
        <div class="card-body">
            {% if tool.logs is not empty  %}
                {% for log in tool.logs %}
                    <p class="pl-3 pr-3">{{ log.log }}</p>
                    <p class="pl-3 text-muted"> {% trans %} Status {% endtrans %} {{ attribute(log, 'type')|raw|trans }}</p>
                    {% if not loop.last %}<hr>{% endif %}
                {% endfor %}
            {% else %}
                {% trans %} No records {% endtrans %}
            {% endif %}
        </div>
    </div>
{% endblock %}
